
.right-section #about span {
    color: var(--color-mode);
}

.right-section #about .badge {
    background-color: var(--color-mode-light);
}

.right-section #about .description >div>ul>li span {
    display: inline-block;
    min-width: 90px;
    font-weight: 600;
}

.right-section #about .description >div>ul>li {
    padding: 5px 0px;
    font-size: 14px;
}

.right-section #about .description button {
    background-color: var(--color-mode);
}
.right-section #about .description button:hover a{
    letter-spacing: 1px;
    color: var(--color-mode);
}
.right-section #about .description button a {
    color: #fff !important;
    transition: all .5s;
}
.right-section #about .description a:hover {
    letter-spacing: 1px;
}
.right-section #about .description a {
    transition: letter-spacing .5s;
}


/* modal about */
.modal__box.about .modal__box__inner .modal__content .skills .progress-bar {
    height: 3px;
}
.modal__box.about .modal__box__inner .modal__content .skills .progress-bar > div{
    background-color: var(--color-mode);
}
.modal__box.about .modal__box__inner .modal__content .fun-facts ul>li h3 {
    color: var(--color-mode);
}
.modal__box.about .modal__box__inner .modal__content .partners .swiper-slide a img {
    opacity: 0.5;
    transition: opacity .5s;
}
.modal__box.about .modal__box__inner .modal__content .partners .swiper-slide a:hover img {
    opacity: 1;
}