
.right-section #about .pf-images {
    position: relative;
    height: 450px;
}

.right-section #about .pf-images .image-sm {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: -10%;
    right: -5%;
    z-index: 1;
}
.right-section #about .pf-images .image-sm img {
    transition: transform .5s;
}
.right-section #about .pf-images .image-sm:hover img {
    transform: scale(1.1);
}

.right-section #about .pf-images > a:first-child {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.right-section #about .pf-images > a:first-child img {
    transition: transform .5s;
}
.right-section #about .pf-images > a:first-child:hover img {
    transform: scale(1.1);
}

.right-section #about span {
    color: var(--color-mode);
}

.right-section #about .badge {
    background-color: var(--color-mode-light);
}

.right-section #about .name {
    margin-top: 0px;
}

.right-section #about .description > ul > li span {
    margin-right: 5px;
    display: inline-block;
    font-weight: 600;
    color: var(--color-mode);
}

.right-section #about .description > ul > li {
    padding: 5px 0px;
    font-size: 14px;
}

.right-section #about .description button {
    background-color: var(--color-mode);
    color: #fff !important;
    transition: letter-spacing .5s;
}
.right-section #about .description button:hover {
    letter-spacing: 1px;
    color: var(--color-mode);
}

.right-section #about .description a {
    transition: letter-spacing .5s;
}
.right-section #about .description a:hover {
    letter-spacing: 1px;
}


/* modal about */
.modal__box.about .modal__box__inner .modal__content .skills .progress-bar {
    height: 3px;
}
.modal__box.about .modal__box__inner .modal__content .skills .progress-bar > div{
    background-color: var(--color-mode);
}
.modal__box.about .modal__box__inner .modal__content .fun-facts ul>li h3 {
    color: var(--color-mode);
}
.modal__box.about .modal__box__inner .modal__content .partners .swiper-slide a img {
    opacity: 0.5;
    transition: opacity .5s;
}
.modal__box.about .modal__box__inner .modal__content .partners .swiper-slide a:hover img {
    opacity: 1;
}


@screen sm {
    .right-section #about .name {
        margin-top: -50px;
    }

    .right-section #about .pf-images .image-sm {
        display: inline-block;
        overflow: hidden;
        position: absolute;
        width: 40%;
        height: 40%;
        bottom: -10%;
        right: -10%;
        z-index: 1;
    }
}

@screen lg {
    .right-section #about .name {
        margin-top: 0px;
    }
}