:root {
  --color-mode: #000;
  --color-mode-light: rgba(204, 204, 204, 0.2);
}

[data-color="red"] {
  --color-mode: #fe0000;
  --color-mode-light: rgb(254, 0, 0, 0.1);
}

[data-color="blue"] {
  --color-mode: #4299e1;
  --color-mode-light: rgba(191, 219, 254, 0.1);
}

[data-color="yellow"] {
  --color-mode: #ecc94b;
  --color-mode-light: rgba(253, 230, 138, 0.2);
}

[data-color="green"] {
  --color-mode: #48bb78;
  --color-mode-light: rgba(167, 243, 208, 0.15);
}

[data-color="pink"] {
  --color-mode: #ff5e94;
  --color-mode-light: rgb(255, 94, 148, 0.1);
}
[data-color="orange"] {
  --color-mode: #fa5b0f;
  --color-mode-light: rgb(250, 91, 15, 0.1);
}
[data-color="purple"] {
  --color-mode: #9200ee;
  --color-mode-light: rgb(146, 0, 238, 0.1);
}
[data-color="sky"] {
  --color-mode: #00d4bd;
  --color-mode-light: rgb(0, 212, 189, 0.1);
}
[data-color="cadetBlue"] {
  --color-mode: #5e9e9f;
  --color-mode-light: rgb(94, 158, 159, 0.1);
}
[data-color="crimson"] {
  --color-mode: #e54b4b;
  --color-mode-light: rgb(229, 75, 75, 0.1);
}
[data-color="olive"] {
  --color-mode: #666d41;
  --color-mode-light: rgb(102, 109, 65, 0.1);
}
[data-color="brown"] {
  --color-mode: #ff9800;
  --color-mode-light: rgb(255, 152, 0, 0.1);
}
